
# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

### Terraform Patch ###
*.tfvars

# End of https://www.gitignore.io/api/terraform
